.Cart {
  &__modal {
    @apply bg-white border hover:border-blue-400 border-slate-200 rounded-2xl;
    width: 300px;
    position: absolute;
    top: 100%;
    right: -10px;
    transition: .3s;
    overflow: hidden;
    z-index: 3;
  }

  .overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba($color: #000000, $alpha: .25);
    transition: .3s;
    animation-fill-mode: forwards;
    animation-duration: .3s;
    animation-name: appearence;
    @keyframes appearence {
      0%{
        background-color: transparent;
      }
      100%{
        background-color: rgba($color: #000000, $alpha: .35);
      }
    }
  }
  
  &__header {
    @apply py-2 px-5 border-b border-slate-200;
    display: flex;
    justify-content: space-between;
  }

  &__items {
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 2px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #cecece;
      outline: 1px solid #cecece;
    }

    &::-webkit-scrollbar-track {
      background: #fff;
    }

    li {
      @apply py-4 px-2 border-b border-slate-200;
      position: relative;
      display: flex;
      align-items: center;
      gap: 20px;

      img {
        width: 40px;
      }

      button {
        @apply hover:bg-black bg-slate-500 rounded-full;
        @apply flex justify-center items-center;
        width: 16px;
        height: 16px;
        position: absolute;
        top: calc(50% - (16px / 2));
        right: 10px;
        transition: .2s;
        opacity: 0;
      }
      
      &:hover button{
        opacity: 1;
      }
    }
    
    &--details{
      span, small{
        display: block;
      }
      small{
        @apply text-xs text-slate-400 font-bold;
      }
    }
    
    button{
      
    }
  }
  
  &__button{
    @apply py-4 px-5 bg-slate-100 text-secondary hover:bg-secondary hover:text-white font-bold;
    @apply disabled:text-slate-400 disabled:bg-slate-100;
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: center;
    transition: .2s;
    width: 100%;
  }
}