.EmployeeItem {
  @apply p-2 bg-slate-200 hover:bg-sky-400 hover:text-white rounded-xl;
  cursor: pointer;
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 10px;
  align-items: center;

  p, span{
    @apply text-xs sm:text-base;
  }
  
  span{
    @apply font-semibold;
  }
  
  &.found {
    @apply bg-green-600;
  }

  // &.selected {
  //   @apply text-white bg-blue-400;
  // }
}