.Employees {
  display: grid;
  grid-template-rows: auto minmax(auto, 350px);
  gap: 10px;
  
  .main_container{
    @apply p-2 overflow-x-auto rounded-xl border border-gray-400;
    text-overflow: clip;
    display: grid;
    gap: 5px;
    align-content: start;
    max-height: 350px;
    height: 100%;
    overflow-y: auto;
  }
}