.MyOrders {

  &__title {
    @apply pb-8 text-3xl font-bold;
  }

  &__options {
    display: grid;
    align-items: end;
    gap: 20px;

    grid-template-areas:
      "search"
      "date-from"
      "date-to"
      "switch"
    ;


    label[for="search-order"] {
      grid-area: search;
    }

    label[for="date-from"]:first-of-type {
      grid-area: date-from;
    }

    label[for="date-to"]:nth-of-type(2) {
      grid-area: date-to;
    }

    .switch-options {
      display: grid;
      gap: 5px;
      align-items: start;
      grid-area: switch;
    }

    @screen xx_sm {
      grid-template-areas:
        "date-from date-to"
        "search switch"
      ;
    }

    @screen md {
      // grid-template-columns: repeat(3, 1fr) auto;
      grid-template-areas: "search date-from date-to switch";
    }
  }
}