.SelectEmployees{
  .Input{
    span{
      @apply font-semibold;
    }
    
    input, select{
      @apply py-2;
    }
  }
  
  .List-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 10px;
  }
}