.BillingSuccess{
  @apply bg-gray-200 h-screen px-4 lg:px-24;
  overflow-y: auto;
  position: relative;
  
  .main-container {
    @apply bg-white my-12 px-10 sm:px-20 py-12 rounded-3xl grid justify-items-center gap-8;
    
    img{
      width: 100%;
      max-width: 8rem;
    }
    
    .title{
      @apply font-bold text-3xl sm:text-4xl;
    }
    
    table{
      thead{
        @apply bg-slate-200;
      }
      th, td{
        @apply text-start px-4 py-2;
        @apply border-r border-b border-slate-200;
        &:first-of-type{
         @apply border-l;
        }
      }
    }
    
    button{
      @apply bg-secondary hover:bg-sky-500 duration-100 font-bold text-base sm:text-xl px-8 py-4 text-white rounded-2xl;
    }
    
  } 
}