@import "./libs/reset";

//pages
@import "./pages/index";
@import "./pages/login";
@import "./pages/cart";
@import "./pages/seleccionar-empleados";
@import "./pages/mis-ordenes";

// components
@import "../components/pages/styles/ProductItem";
@import "../components/pages/styles/ProductFinder";
@import "../components/pages/styles/ProductSkeleton";
@import "../components/pages/activar-ficha/styles/DropZone";
@import "../components/pages/activar-ficha/styles/SingleActivate";
@import "../components/pages/selecionar-empleados/styles/Employees";
@import "../components/pages/selecionar-empleados/styles/EmployeeItem";

// widgets
@import "../components/widgets/styles/Button";
@import "../components/widgets/styles/Header";
@import "../components/widgets/styles/Input";
@import "../components/widgets/styles/Switch";
@import "../components/widgets/styles/Spinner";
@import "../components/widgets/styles/Modal";
@import "../components/widgets/styles/NotificationModal";